/* Variables based on theme */
.glass[data-theme="amber"] {
  --text-color: rgb(255, 255, 177);
  --shadow-color: rgb(109, 109, 17);
  --gradient-a: rgba(255, 175, 0, 0);
  --gradient-b: rgba(255, 175, 0, 0.05);
  --gradient-c: rgba(255, 175, 0, 0.1);
  --fading-color: rgba(255, 175, 0, 0.2);
}

.glass[data-theme="phosphor"] {
  --text-color: rgb(183, 255, 177);
  --shadow-color: rgb(17, 109, 25);
  --gradient-a: rgba(0, 255, 34, 0);
  --gradient-b: rgba(21, 255, 0, 0.05);
  --gradient-c: rgba(21, 255, 0, 0.1);
  --fading-color: rgba(9, 255, 0, 0.2);
}

.glass[data-theme="cyberpunk"] {
  --text-color: rgb(0, 247, 255);
  --shadow-color: rgb(17, 103, 109);
  --gradient-a: rgba(0, 255, 213, 0);
  --gradient-b: rgba(0, 255, 242, 0.05);
  --gradient-c: rgba(0, 217, 255, 0.1);
  --fading-color: rgba(0, 225, 255, 0.2);
}

.glass[data-theme="synthwave"] {
  --text-color: rgb(255, 168, 233);
  --shadow-color: rgb(109, 17, 109);
  --gradient-a: rgba(234, 0, 255, 0);
  --gradient-b: rgba(255, 0, 255, 0.05);
  --gradient-c: rgba(255, 0, 191, 0.1);
  --fading-color: rgba(255, 0, 242, 0.2);
}

.monitor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80vw;
  height: 80vh;

  background: rgb(26, 24, 22);
  border-radius: 12px;
  box-shadow: 0 20px 50px rgb(89, 80, 68);

  font-family: 'Courier New', Courier, monospace;
}

.glass {
  width: 100%;
  height: 100%;

  position: relative;
  border: 30px solid transparent;
  border-image-slice: 60 fill;
  border-image-repeat: stretch;
  border-image-outset: 0;
  image-rendering: pixelated;
  overflow: hidden;
  box-sizing: border-box;
}

.crt {

  position: absolute;
  z-index: 1;

  border-radius: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  padding-left: 1.5rem;
  padding-top: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: linear-gradient(rgba(17, 15, 16, 0) 50%, rgba(0, 0, 0, 0.022) 50%), linear-gradient(90deg, rgba(255, 175, 0, 0.044), rgba(0, 0, 0, 0.022), rgba(255, 175, 0, 0.044));

  z-index: 3;
  background-size: 100% 3px, 6px 100%;
  pointer-events: none;

  border-radius: 20px;
  padding: 10px;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* theme: color fading color */
  background: var(--fading-color);


  opacity: 0.5;
  animation: flicker 10s infinite;
  pointer-events: none;

  border-radius: 20px;
}

@keyframes flicker {
  0% {
    opacity: 0.15;
  }

  20% {
    opacity: 0.35;
  }

  40% {
    opacity: 0.1;
  }

  60% {
    opacity: 0.45;
  }

  80% {
    opacity: 0.15;
  }

  100% {
    opacity: 0.5;
  }
}

.scan_effecta {
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 5;
  pointer-events: none;


  /* theme: scan effect movement */
  background: linear-gradient(180deg,
      var(--gradient-a) 0%,
      var(--gradient-b) 50%,
      var(--gradient-c) 100%);

  animation: screen-scan 6s linear infinite;
}

@keyframes screen-scan {

  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(60vh + 100px));
  }
}

.terminal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 0.8rem;
  margin-bottom: 2rem;
  font-family: 'Courier New', Courier, monospace;

  /* theme: text color */
  color: var(--text-color);

  /* theme: shadow color */
  text-shadow: 0 0 5px var(--shadow-color), 0 0 10px var(--shadow-color);

  transition: all 0.2s ease;
  font-size: 0.9 rem;
  font-weight: 550;

  -webkit-font-smoothing: none;
  font-smooth: never;

  overflow-y: auto;
  overflow-x: hidden;

  /* Hide the scroll Wheel for different browsers */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.output_line {
  white-space: pre-wrap;
}

.current_input {
  background: transparent;
  border: none;
  color: inherit;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: inherit;
  font-size: inherit;
  font-weight: 550;
}

.current_input:focus {
  outline: none;
}